streamlit
langchain
langchain_groq
langchain_community
langchain_core
langchain_pinecone
bs4
selenium
seleniumbase
webdriver-manager
python-dotenv
pinecone
sentence-transformers
google-api-python-client
